mixin tutorial(data)
  .gfrds_tutorial
    figure.gfrds_tutorial-figure
    .gfrds_tutorial-content
      .gfrds_tutorial-label= data.label
      h2.gfrds_tutorial-title= data.title
      .gfrds_tutorial-text= data.text
