include ../anchor/_anchor
include ../label/_label

mixin push(data)
  .gfrds_push
    +anchor({name: data.id})
    .gfrds_push-embed
      iframe(width="100%" height="370" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=" + data.embed + "&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true")
    .gfrds_push-content
      +label(data.label)
      h2.gfrds_push-title= data.title
      .gfrds_push-text= data.text
