.gfrds_push {
  background-color: $white;
  margin: 0;
  position: relative;

  .is-history & {
    background-color: $white;
  }

  &-embed {
    background: $grayE6 url(../../images/loader.svg) center center no-repeat;

    iframe {
      display: block;
    }
  }

  &-share {
    text-align: center;

    &-items {
      @include reset-list;
    }

    &-item {
      & + & {
        border-top: 0.1rem solid transparentize($darkblue2, 0.8);
        margin-left: 0 !important;
        padding-top: 0.5rem;
      }

      a {
        display: block;
        padding: 1rem 0.5rem;

        &:hover {
          .gfrds_icon {fill: $blue;}
        }
      }
    }
  }

  &-content {
    max-width: 100rem;
  }

  &-title {
    font-family: $seine;
    font-weight: normal;
    line-height: 1.1;
  }

  &-text {
    font-weight: 500;
    line-height: 1.5;

    p {
      margin: 2rem 0;
    }
  }

  @include medium-and-small {
    &-wrapper {
      padding: 2.5rem 4.5rem;
    }

    &-embed {
      margin-right: 5rem;

      iframe {
        height: 28rem;
      }
    }

    &-share {
      position: absolute;
      top: 1rem;
      right: 0;
      width: 5rem;

      .gfrds_icon {
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    .gfrds_label {
      text-align: left;
    }

    &-title {
      font-size: 11vw;
      margin: 0 0 1rem;
    }

    &-text {
      font-size: 1.5rem;
    }
  }

  @include large {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    &-wrapper {
      display: flex;
    }

    &-embed {
      height: 37rem;
      margin-right: 3.2rem;
      width: 37rem;
    }

    &-share {
      margin-right: 5rem;
      width: 4.4rem;

      .gfrds_icon {
        height: 3rem;
        width: 3rem;
      }
    }

    .gfrds_label {
      margin-bottom: 0;
    }

    &-title {
      font-size: 6rem;
      margin: 0.5rem 0;
      transform: translateX(-0.5rem);
    }

    &-text {
      font-size: 1.8rem;
    }
  }
}
