.gfrds_push {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  margin: 0;

  .is-history & {
    background-color: $white;
  }

  &-embed {
    background-color: $ribbon2;
    height: 37rem;
    margin-right: 5rem;
    width: 37rem;
  }

  &-content {
    max-width: 100rem;
  }

  .gfrds_label {
    margin-bottom: 0;
  }

  &-title {
    font-family: $seine;
    font-size: 6rem;
    margin: 0.5rem 0;
    transform: translateX(-0.5rem);
  }

  &-text {
    p {
      margin: 2rem 0;
    }
  }
}
