.gfrds_push {
  background-color: $white;
  margin: 0;
  position: relative;

  .is-history & {
    background-color: $white;
  }

  &-embed {
    background: $grayE6 url(../../images/loader.svg) center center no-repeat;

    iframe {
      display: block;
    }
  }

  &-content {
    max-width: 100rem;
  }

  &-title {
    font-family: $seine;
    font-weight: normal;
    line-height: 1.1;
  }

  &-text {
    font-weight: 500;
    line-height: 1.5;

    p {
      margin: 2rem 0;
    }
  }

  @include medium-and-small {
    &-content {
      padding: 2.5rem 4.5rem;
    }

    .gfrds_label {
      text-align: left;
    }

    &-title {
      font-size: 11vw;
      margin: 0 0 1rem;
    }

    &-text {
      font-size: 1.5rem;
    }
  }

  @include large {
    align-items: center;
    display: flex;
    justify-content: flex-start;

    &-embed {
      height: 37rem;
      margin-right: 5rem;
      width: 37rem;
    }

    .gfrds_label {
      margin-bottom: 0;
    }

    &-title {
      font-size: 6rem;
      margin: 0.5rem 0;
      transform: translateX(-0.5rem);
    }

    &-text {
      font-size: 1.8rem;
    }
  }
}
