.gfrds_list-item {
  background-color: $white;
  cursor: pointer;
  height: 10rem;
  margin: 2rem auto 0;
  position: relative;
  transition: height 0.4s ease, width 0.4s ease;

  &:first-child {
    margin-top: 8rem;
  }

  &-embed {
    background-size: cover;
    height: 10rem;
    width: 10rem;

    &, img {
      transition: none;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &-button-toggle {
    background: none;
    border: 0;
    line-height: 0;
    padding: 0;

    .gfrds_list-item:hover & {fill: $blue;}

    > .gfrds_icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &-share {
    text-align: center;

    &-items {
      @include reset-list;
    }

    &-item {
      & + & {
        border-top: 0.1rem solid transparentize($darkblue2, 0.8);
        margin-left: 0 !important;
        padding-top: 0.5rem;
      }

      a {
        display: block;
        padding: 1rem 0.5rem;

        .gfrds_icon {fill: $darkblue2;}

        &:hover {
          .gfrds_icon {fill: $blue;}
        }
      }
    }
  }

  &-title {
    font-family: $seine;
    font-weight: normal;
    transition: none;
  }

  &-text {
    font-weight: 500;
    p {margin: 0;}
    p + p {margin-top: 2rem;}
  }

  &-place {
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;

    > .gfrds_icon {
      fill: $pink;
    }
  }

  &-share {
    pointer-events: none;
    position: absolute;
    opacity: 0;
  }

  .gfrds_label,
  &-text,
  &-place {
    display: none;
  }

  &.is-open {
    cursor: default;
    height: auto;
    width: 100%;

    .gfrds_list-item-embed {
      &, img {
        transition: height 0.4s ease,
                    width 0.4s ease;
      }
    }

    .gfrds_list-item-button-toggle {
      background-color: $darkblue2;
      fill: $white !important;

      &:hover {
        background-color: $blue;
      }

      > .gfrds_icon {
        transform: rotate(45deg);
      }
    }
    .gfrds_list-item-title {
      transition: font-size 0.4s ease,
                  line-height 0.4s ease;
    }

    .gfrds_list-item-share {
      opacity: 1;
      pointer-events: auto;
    }
    .gfrds_label,
    .gfrds_list-item-text {
      display: block;
    }

    .gfrds_list-item-place {
      display: flex;
    }
  }

  @include medium-and-small {
    align-items: center;
    display: flex;

    &-embed {
      flex-shrink: 0;
    }

    &-button-toggle {
      margin: 0 1.5rem;
    }

    &-content {
    }

    .gfrds_label {
      margin-bottom: 1.5rem;
    }

    &-title {
      font-size: 7vw;
      line-height: 1.1;
      margin: 0;
      transform: translateX(-0.3rem);
    }

    &-text {
      font-size: 1.5rem;
      line-height: 2.4rem;
    }

    &-place {
      > .gfrds_icon {
        height: 3.8rem;
        margin-right: 1.4rem;
        width: 2.6rem;
      }
    }

    &.is-open {
      flex-direction: column;

      .gfrds_list-item-embed {
        align-self: flex-start;
        height: auto;
        width: calc(100% - 5rem);
      }

      .gfrds_list-item-button-toggle,
      .gfrds_list-item-share {
        position: absolute;
        right: 0;
        width: 5rem;
      }

      .gfrds_list-item-button-toggle {
        height: 5rem;
        margin: 0;
        top: 0;
      }

      .gfrds_list-item-share {
        top: 6rem;

        .gfrds_icon {
          height: 2.5rem;
          width: 2.5rem;
        }
      }

      .gfrds_list-item-content {
        margin: 2.5rem 5.5rem;
      }

      .gfrds_label {
        text-align: left;
      }

      .gfrds_list-item-title {
        font-size: 9vw;
        margin: 1rem 0;
      }
    }
  }

  @include large {
    width: 90rem;

    &-embed {
      left: 0;
      position: absolute;
      top: 0;
    }

    &-button-toggle {
      height: 3.5rem;
      left: 15rem;
      position: absolute;
      top: 3.2rem;
      transition: left 0.4s ease,
                  top 0.4s ease;
      width: 3.5rem;
    }

    &-share {
      left: 0;
      width: 4.4rem;
      transition: none;

      .gfrds_icon {
        height: 3rem;
        width: 3rem;
      }
    }

    &-content {
      margin-left: 22.5rem;
      transition: margin-left 0.4s ease;
    }

    .gfrds_label {
      margin-bottom: 0;
    }

    &-title {
      font-size: 3rem;
      line-height: 10rem;
      margin: 0.5rem 0;
    }

    &-text {
      font-size: 1.8rem;
      line-height: 3rem;
      max-width: 55rem;
    }

    &-place {
      > .gfrds_icon {
        height: 7.6rem;
        margin-right: 2.8rem;
        width: 5.2rem;
      }
    }

    &.is-open {
      padding: 4rem 0;

      .gfrds_list-item-embed {
        min-height: 39rem;
        height: auto;
        width: 39rem;
      }

      .gfrds_list-item-button-toggle {
        left: 40.9rem;
        top: 0;
        transform: none;

        > .gfrds_icon {
          height: 2rem;
          width: 2rem;
        }
      }

      .gfrds_list-item-share {
        left: 40.5rem;
        transition: left 0.4s ease,
                    opacity 0.8s ease;
      }

      .gfrds_list-item-content {
        margin-left: 49.5rem;
      }

      .gfrds_list-item-title {
        font-size: 6rem;
        line-height: 6rem;
        transform: translateX(-0.5rem);
      }
    }
  }
}
