include cover/_cover
include icon/_icon
include intro/_intro
include label/_label
include portrait/_portrait
include push/_push
include ribbons/_ribbons
include separator/_separator
include tutorial/_tutorial
