.gfrds_portrait {
  overflow: hidden;
  position: relative;
  width: 100%;

  &.pink {background-color: $pink;}
  &.orange {background-color: $orange;}

  > .gfrds_wrapper {
    position: relative;
    z-index: 3;
  }

  &-header {
    > .gfrds_label {
      color: $white;
    }
  }

  &-title {
    font-family: $seine;
    font-weight: normal;
    margin: 0;
  }

  &-text {
    font-weight: 500;
  }

  &-embed {
    position: relative;

    iframe {
      margin: 0 !important;
      width: 100%;
      position: relative;
    }

    &:before {
      background-color: transparentize($black, 0.85);
      border-radius: 0.4rem;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate(3rem, 3rem);
      width: 100%;
    }
  }

  &-place {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 2.4rem;
    font-weight: bold;

    > .gfrds_icon {
      fill: $white;
    }
  }

  &-share {
    margin-top: 5rem;

    &-title {
      color: $white;
      margin: 0;
    }

    &-items {
      @include reset-list;
    }

    &-item {
      border: 0.3rem solid $white;
      border-bottom: 0;
      display: inline-block;

      & + & {
        border-left: 0;
      }

      > a {
        align-items: center;
        color: $white;
        display: inline-flex;
        justify-content: center;
        text-decoration: none;
        transition: background 0.2s ease;

        &:hover,
        &:focus {
          background-color: transparentize($white, 0.8);
        }
      }
    }

    .gfrds_icon {
      fill: $white;
    }
  }

  &-ribbons {
    clip: rect(auto, auto, auto, auto);
    clip-path: inset(0 0 0 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include medium-and-small {
    > .gfrds_wrapper {
      padding: 3rem 2.5rem 0;
    }

    &-header {
      padding: 0 1.5rem;
      margin-bottom: 2rem;
    }

    &-title {
      font-size: 11vw;
      line-height: 12vw;
      text-align: center;
    }

    &-content {
      &-col:last-child {
        margin: 4rem 2rem 0;

      }
    }

    &-text {
      font-size: 1.5rem;
      line-height: 2.4rem;
    }

    &-embed {
      &:before {
        transform: translate(1.5rem, 1.5rem);
      }
    }

    &-place {
      font-size: 1.8rem;
      margin: 3rem 0;

      > .gfrds_icon {
        height: 3.8rem;
        margin-right: 1.4rem;
        width: 2.6rem;
      }
    }

    &-share {
      &-title {
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }

      &-item {
        > a {
          height: 9rem;
          width: 9rem;
        }
      }

      .gfrds_icon {
        height: 3.75rem;
        width: 3.75rem;
      }
    }
  }

  @include large {
    > .gfrds_wrapper {
      padding: 6.8rem 0 0;
    }

    &-header {
      margin-bottom: 4rem;
    }

    &-title {
      font-size: 14.5rem;
      line-height: 14rem;
      transform: translateX(-1.2rem);
    }

    &-content {
      display: flex;
      justify-content: space-between;

      &-col {
        min-width: 45rem;
        max-width: 40%;

        &:first-child {
          min-width: 49rem;
        }
      }
    }

    &-text {
      font-size: 1.8rem;
      line-height: 3rem;
    }

    &-embed {
      min-height: 55.2rem;
    }

    &-place {
      margin: 8.8rem 0 0 1.6rem;

      > .gfrds_icon {
        height: 7.6rem;
        margin-right: 2.8rem;
        width: 5.2rem;
      }
    }

    &-share {
      &-title {
        font-size: 3.6rem;
        margin-bottom: 3.6rem;
      }

      &-item {
        > a {
          height: 18rem;
          width: 18rem;
        }
      }

      .gfrds_icon {
        height: 7.5rem;
        width: 7.5rem;
      }
    }
  }
}
