.gfrds_portrait {
  overflow: hidden;
  position: relative;
  width: 100%;

  &.pink {background-color: $pink;}
  &.orange {background-color: $orange;}

  > .gfrds_wrapper {
    padding: 3rem 0 0;
    position: relative;
    z-index: 3;
  }

  &-header {
    margin-bottom: 4rem;
  }

  &-title {
    font-family: $seine;
    font-size: 14.5rem;
    line-height: 14rem;
    margin: 0;
    transform: translateX(-1.2rem);
  }

  &-text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
  }

  &-content {
    display: flex;
    justify-content: space-between;

    &-col {
      min-width: 45rem;
      max-width: 40%;

      &:first-child {
        min-width: 49rem;
      }
    }
  }

  &-embed {
    position: relative;

    iframe {
      margin: 0 !important;
      width: 100%;
      position: relative;
    }

    &:before {
      background-color: transparentize($black, 0.85);
      border-radius: 0.4rem;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate3d(3rem, 3rem, 0);
      width: 100%;
    }
  }

  &-share {
    margin-top: 5rem;

    &-title {
      color: $white;
      font-size: 3.6rem;
    }

    &-items {
      @include reset-list;
    }

    &-item {
      border: 0.3rem solid $darkblue2;
      border-bottom: 0;
      display: inline-block;

      & + & {
        border-left: 0;
      }

      > a {
        align-items: center;
        color: $darkblue2;
        display: inline-flex;
        height: 10rem;
        justify-content: center;
        text-decoration: none;
        width: 10rem;
      }
    }
  }

  &-ribbons {
    clip: rect(auto, auto, auto, auto);
    clip-path: inset(0 0 0 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
