.gfrds_story {
  .is-history & {
    color: $white;
  }

  &-title {
    font-family: $seine;
    font-weight: normal;
  }

  &-text {
    p {
      margin: 0;

      & + & {
        margin-top: 2rem;
      }
    }

    a {
      border-bottom: 0.1rem solid;
      color: inherit;
      text-decoration: none;
      transition: border 0.2s ease;

      &:hover,
      &:focus {
        border-bottom: 0.2rem solid;
      }
    }
  }

  @include medium-and-small {
    padding: 5rem;

    &-title {
      font-size: 11vw;
      line-height: 12vw;
      margin: 0 0 1rem;
    }

    &-text {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  @include large {
    padding: 5rem 20rem 9rem;

    > .gfrds_wrapper {
      overflow: hidden;
    }

    &-title {
      float: left;
      font-size: 4rem;
      line-height: 5rem;
      margin: 0 2rem 0 0;
      max-width: 35rem;
    }

    &-text {
      font-size: 1.8rem;
      line-height: 3rem;
      margin-left: 37rem;
      max-width: 60rem;
    }

  }
}
