.gfrds_list-header {
  color: $darkblue2;

  // modifiers
  &.yellow {
    .gfrds_list-header-cover {
      background-color: $yellow;
    }
    .gfrds_list-header-text a {
      &:hover, &:focus {
        border-bottom-color: $yellow;
      }
    }
    .gfrds_list-header-social a {
      &:hover, &:focus {
        .gfrds_icon {fill: $yellow;}
      }
    }
  }
  &.pink {
    .gfrds_list-header-cover {
      background-color: $pink;
    }
    .gfrds_list-header-text a {
      &:hover, &:focus {
        border-bottom-color: $pink;
      }
    }
    .gfrds_list-header-social a {
      &:hover, &:focus {
        .gfrds_icon {fill: $pink;}
      }
    }
  }

  &-cover {
    position: relative;

    svg {
      display: block;
      fill: $white;
    }
  }

  &-title {
    bottom: 0;
    font-family: $seine;
    font-weight: normal;
    margin: 0;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 50%);
  }

  &-text {
    font-weight: 500;
    margin: 0 auto;
    text-align: center;

    a {
      border-bottom: 0.1rem solid;
      color: inherit;
      text-decoration: none;
      transition: border 0.2s ease;

      &:hover,
      &:focus {
        border-bottom-width: 0.2rem;
      }
    }
  }

  &-social {
    text-align: center;

    a {
      display: inline-block;
    }

    .gfrds_icon {
      fill: $darkblue2;
      height: 6rem;
      transition: fill 0.2s ease;
      width: 6rem;
    }
  }

  @include medium-and-small {
    &-cover {
      height: 16rem;
      padding-top: 1.5rem;

      svg {
        height: 16rem;
        margin: 0 auto;

        .gfrds_list-header.voir & {
          // width: 30rem;
        }
      }
    }

    > .gfrds_wrapper {
      padding: 3.5rem;
    }

    &-title {
      font-size: 5rem;
    }

    &-text {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

  }

  @include large {
    &-cover {
      height: 30rem;

      svg {
        bottom: -5rem;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 25rem;

        .gfrds_list-header.voir & {
          bottom: -6rem;
          width: 30rem;
        }
      }
    }

    &-title {
      font-size: 13rem;
    }

    &-text {
      font-size: 1.8rem;
      line-height: 3rem;
      max-width: 45rem;
      padding-top: 9rem;
    }
  }

}
