.gfrds_ribbons {
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &.borders-only {
    .gfrds_ribbons-path {
      fill: none;
      stroke-width: 1px;
      stroke: transparentize($white, 0.8) !important;
    }
  }

  &-svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  &-path {
    fill: none;
    //stroke-width: 1px;

    &:nth-child(1) {
      fill: $ribbon1;
    }

    &:nth-child(2) {
      fill: $ribbon2;
    }

    &:nth-child(3) {
      fill: $ribbon3;
    }
  }
}
