include ../icon/_icon

mixin intro(data)
  .gfrds_intro(class=data.modifiers)
    .gfrds_wrapper
      .gfrds_intro-content
        +icon({icon: 'scrolldown'})
        h2.gfrds_intro-title= data.title
        .gfrds_intro-text
          each p in data.text
            p= p
