.gfrds_intro {
  color: $darkblue;
  padding: 8.5rem 20rem 15rem;

  .is-history & {
    color: $white;
  }

  > .gfrds_wrapper {
    overflow: hidden;
  }

  &-content {
    float: right;
    max-width: 47rem;
  }

  &-icon {
    svg {
      fill: $darkblue;
      height: 6.2rem;
      width: 2.7rem;
    }
  }

  &-title {
    font-family: $seine;
    font-size: 6rem;
    font-weight: normal;
    margin: 2.2rem 0;
  }

  &-text {
    font-size: 1.8rem;
    line-height: 3rem;

    p {
      margin: 2rem 0;
    }
  }
}
