include modules/_all

.gfrds_container.is-history
  +cover(data.cover)
  div(style="height: 1000px")
  .gfrds_portrait.pink Portrait
  div(style="height: 1000px")
  .gfrds_portrait.orange Portrait
  div(style="height: 1000px")
.gfrds_ribbons
