include modules/_all

.gfrds_container
  div(style="height: 1000px")
  .gfrds_portrait.pink Portrait
  div(style="height: 1000px")
  .gfrds_portrait.orange Portrait
  div(style="height: 1000px")
.gfrds_ribbons
