include modules/_all

.gfrds_container
  +cover(data.cover)
  +intro(data.intro)
  +tutorial(data.tutorial)
  +separator({"color": "#E6F8F6", "height": "30rem"})
  +portrait(data.portraits[0])
  +separator({"color": "#E6F8F6", "height": "30rem"})
  +push(data.pushes[0])
  +separator({"color": "#F9F7F7", "height": "30rem"})
  +portrait(data.portraits[1])
+ribbons({})

script(async defer src="//platform.instagram.com/fr_FR/embeds.js")
