include modules/_all
include icons/_sprite.svg

.gfrds_container
  +cover(data.cover)
  +intro(data.intro)
  +tutorial(data.tutorial)
  each item in data.items
    +#{item.type}(item.data)
  +ribbons({})

script(async defer src="//platform.instagram.com/fr_FR/embeds.js")
