include modules/_all
include icons/_sprite.svg

.gfrds_container(class=data.modifiers)
  +navbar(data.navbar)
  +cover(data.cover)
  +intro(data.intro)
  each item in data.items
    +#{item.type}(item.data)
  +ribbons({})
