include modules/_all

.gfrds_container
  +cover(data.cover)
  +intro(data.intro)
  +tutorial(data.tutorial)
  +portrait(data.portraits[0])
  +push(data.pushes[0])
  +portrait(data.portraits[1])
+ribbons
