@import "../navbar/_variables";

.gfrds_container {
  background-color: $white;
  color: $darkblue;
  overflow: hidden;

  > * {
    position: relative;
    z-index: 3;
  }

  // modifiers
  &.is-history {
    background-color: $darkblue;
    padding-top: $navbar-height - 1;
  }

  &.is-list {
    background-color: $lightbrown;
    padding-top: $navbar-height - 1;
    padding-bottom: 14rem;
  }
}
