$navbar-height: 6rem;

.gfrds_container {
  background-color: $white;
  color: $darkblue;
  overflow: hidden;
  padding-top: $navbar-height;

  > * {
    position: relative;
    z-index: 3;
  }

  // modifiers
  &.is-history {
    background-color: $darkblue;
  }

  &.is-list {
    background-color: $lightbrown;
    padding-bottom: 14rem;
  }
}
