// Colors
$pink   : #FF486B;
$orange : #FF9255;
$darkblue : #041C47;
$darkblue2 : #020438;
$lightblue: #E6F8F6;
$lightbrown: #F9F7F7;

// Ribbons
$ribbon1 : #253B6E;
$ribbon2 : #1891AC;
$ribbon3 : #A2D5F2;

// Shades of gray
$black  : #000;
$gray1A : #1A1A1A;
$gray33 : #333;
$grayCC : #CCC;
$grayE6 : #E6E6E6;
$white  : #FFF;
