// Colors
$pink   : #FF486B;
$orange : #FF9255;
$darkblue : #041C47;
$darkblue2 : #020438;

// Ribbons
$ribbon1 : #253B6E;
$ribbon2 : #A2D5F2;
$ribbon3 : #1891AC;

// Shades of gray
$black  : #000;
$gray1A : #1A1A1A;
$gray33 : #333;
$grayCC : #CCC;
$grayE6 : #E6E6E6;
$white  : #FFF;
