html {
  font-size: 62.5%; // for easy rem sizing
}

.gfrds_container {
  background-color: $white;
  color: $darkblue;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
